In [2]:
import pandas as pd

file_path = '예매번호(t번호 내역).xlsx'
xls = pd.ExcelFile(file_path)

In [3]:
df = xls.parse(xls.sheet_names[0])

In [4]:
def generate_ticket_numbers(df):
    new_rows = []
    
    for _, row in df.iterrows():
        start_ticket = int(row['대표티켓번호'][1:])  # 대표티켓번호의 숫자 부분만 추출
        total_tickets = row['총매수']
        
        for i in range(total_tickets):
            new_ticket_number = f"T{start_ticket + i}"  # 티켓 번호 생성
            new_rows.append([row['No'], new_ticket_number])
    
    return pd.DataFrame(new_rows, columns=['No', '티켓번호'])

In [5]:
# '대표티켓번호'에 NaN이 있는 행 제거
df_cleaned = df.dropna(subset=['대표티켓번호'])

# '대표티켓번호'가 문자열로 처리되도록 설정
df_cleaned['대표티켓번호'] = df_cleaned['대표티켓번호'].astype(str)

ticket_df = generate_ticket_numbers(df_cleaned)

output_csv_path = 'generated_tickets.csv'
ticket_df.to_csv(output_csv_path, index=False)

C:\Users\서진호\AppData\Local\Temp\ipykernel_12884\3579846682.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['대표티켓번호'] = df_cleaned['대표티켓번호'].astype(str)

In [6]:
# CSV 파일 생성 경로 반환
output_csv_path

'generated_tickets.csv'

In [9]:
df

        No       대표티켓번호  총매수  최종정상매수
0      1.0  T2571844011    2       2
1      2.0  T2571830632    3       3
2      3.0  T2571803982    3       3
3      4.0  T2571802280    1       1
4      5.0  T2571800701    2       2
..     ...          ...  ...     ...
402  403.0  T2568540511    2       2
403  404.0  T2568540040    1       1
404  405.0  T2568539560    1       1
405  406.0  T2568538230    1       1
406    NaN          NaN  815     815

[407 rows x 4 columns]

In [7]:
ticket_df

        No         티켓번호
0      1.0  T2571844011
1      1.0  T2571844012
2      2.0  T2571830632
3      2.0  T2571830633
4      2.0  T2571830634
..     ...          ...
810  403.0  T2568540511
811  403.0  T2568540512
812  404.0  T2568540040
813  405.0  T2568539560
814  406.0  T2568538230

[815 rows x 2 columns]