# 티켓 리스트를 csv로 받았다면 여기서부터 실행

In [3]:
import pandas as pd

df = pd.read_csv('away.csv')

df.to_excel('away.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

# 티켓 리스트를 xlsx로 받았다면 여기서부터 실행

In [6]:
import pandas as pd

file_path = 'away.xlsx'
xls = pd.ExcelFile(file_path)

In [7]:
df = xls.parse(xls.sheet_names[0])

In [8]:
def generate_ticket_numbers(df):
    new_rows = []
    
    for _, row in df.iterrows():
        start_ticket = int(row['대표티켓번호'][1:])  # 대표티켓번호의 숫자 부분만 추출
        total_tickets = row['총매수']
        
        for i in range(total_tickets):
            new_ticket_number = f"T{start_ticket + i}"  # 티켓 번호 생성
            new_rows.append([row['No'], new_ticket_number])
    
    return pd.DataFrame(new_rows, columns=['No', '대표티켓번호'])

In [9]:
# '대표티켓번호'에 NaN이 있는 행 제거
df_cleaned = df.dropna(subset=['대표티켓번호'])

# '대표티켓번호'가 문자열로 처리되도록 설정
df_cleaned['대표티켓번호'] = df_cleaned['대표티켓번호'].astype(str)

ticket_df = generate_ticket_numbers(df_cleaned)

output_csv_path = 'generated_tickets.csv'
ticket_df.to_csv(output_csv_path, index=False)

In [10]:
# CSV 파일 생성 경로 반환
output_csv_path

'generated_tickets.csv'

In [11]:
df

      No       대표티켓번호  총매수  최종정상매수
0    214  T2569702241    2       2
1    215  T2569699921    2       2
2    216  T2569699381    2       2
3    217  T2569698880    1       1
4    218  T2569698541    2       2
..   ...          ...  ...     ...
250  464  T2571844060    1       1
251  465  T2571844061    1       1
252  466  T2571844062    1       1
253  467  T2571844063    1       1
254  468  T2571844064    1       1

[255 rows x 4 columns]

In [12]:
ticket_df

      No         티켓번호
0    214  T2569702241
1    214  T2569702242
2    215  T2569699921
3    215  T2569699922
4    216  T2569699381
..   ...          ...
421  464  T2571844060
422  465  T2571844061
423  466  T2571844062
424  467  T2571844063
425  468  T2571844064

[426 rows x 2 columns]